@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button, a {
    background-color: yellow;
    cursor: pointer;
    padding: .5rem 1.5rem;
    border-style: none;
}

button:hover, a:hover {
    color: yellow;
    background-color: black;
}

a {
    display: none;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0 1rem;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .results {
        text-align: center;
    }
}